.projects__container {
  width: 100%;
}

.projects__categories {
  justify-self: center;
  padding: 1rem;

  display: flex;

  gap: 0.5rem;
}

.projects__category {
  padding: 0.5rem 1rem;

  transition: 0.3s;
}

.projects__category.current-category,
.projects__category:hover {
  background-color: var(--c-main-lite-o30);
}

.projects__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.project {
  position: relative;
  border-radius: 0.5rem;

  box-shadow: 0 0 3px -1px var(--c-main-lite);

  overflow: hidden;
}

/*
.project::before {
   content: "";
  position: absolute;

  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: var(--c-main-lite-o30);
  z-index: 1;

  transition: 0.3s;
}

.project:hover::before {
  height: 100%;
} */

.project:hover .project__data {
  transform: translateX(calc(-55px - 1rem));
}

.project:hover .project__image img {
  transform: scale(1.25);
}

.project:hover .project__image picture::before {
  width: 100%;
}

.project__image {
  overflow: hidden;
}

.project__image img {
  position: relative;
  transition: 0.3s;
}

.project__image picture {
  position: relative;
}

.project__image picture::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  width: 0%;

  background-color: var(--c-main-lite-o30);
  z-index: 100;

  transition: 0.3s;
}

.project__data {
  width: calc(100% + 1rem + 55px);
  padding: 0 1rem;

  transition: 0.3s;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project__title {
  font-size: var(--f-size-xnormal);
}

.project__links {
  width: 55px;
  margin-top: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.project__links a {
  font-size: var(--f-size-large);
}

.projects__anchor {
  margin-top: 5rem;
  text-align: center;
}

/* ----? BREAKPOINTS ?---- */
@media screen and (max-width: 992px) {
  .projects__wrapper {
    width: min(90%, 600px);
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .projects__categories {
    display: none;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
  .projects__wrapper {
    margin: 0 auto 0 auto;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;

    overflow: hidden;
  }

  .project {
    width: 250px;
  }
  .project__data {

  }
    .project__title {
      font-size: var(--f-size-normal);
    }

}

@media screen and (max-width: 425px) {
}
